{% extends 'relfinder/base.html' %}
{% block content%}


<!-- <div class="m-5 p-3"></div> -->

<div class="container my-5">

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 p-0">
            <div class="row">

            </div>
        </div>
        <div class="col-1"></div>

        <div class="col-5 p-0">
            <div class="bg-light p-4 shadow" style="border-radius: 12px; position: relative;
            transform: translate(0%,60%);">
                <h4 class="text-center">Вход</h4>
                <form method="POST"  autocomplete="off" action="{% url 'login_or_register' %}">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="login" />
                    <div class="form-group">
                        <label>Логин</label>
                        <div>
                            <input type="text" class="form-control" name="username" maxlength="150" required=""
                                id="id_username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Пароль</label>
                        <div>
                            <input type="password" class="form-control opacity-3" name="password" required=""
                                id="id_password">
                        </div>
                    </div>
                    <button type="submit" class="btn border border-dark">Вход</button>
                </form>
            </div>
        </div>

        <div class="col-2 p-0 m-0"></div>

        <div class="col-5 p-0">
            <div class="bg-light p-4 shadow" style="border-radius: 12px;">
                <h4 class="text-center">Регистрация</h4>
                <form method="POST" autocomplete="off" action="{% url 'login_or_register' %}">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="register" />
                    <div class="form-group">
                        <label>Логин</label>
                        <div>
                            <input type="text" class="form-control" name="username" maxlength="150" required=""
                                id="id_username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Имя</label>
                        <div>
                            <input type="text" class="form-control" name="first_name" maxlength="30" required=""
                                id="id_first_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Фамилия</label>
                        <div>
                            <input type="text" class="form-control" name="surname" maxlength="150" required=""
                                id="id_surname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Отчество</label>
                        <div>
                            <input type="text" class="form-control" name="fathername" maxlength="150" required=""
                                id="id_fathername">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Дата рождения</label>
                        <div>
                            <input type="text" class="form-control" name="birth_date" placeholder="XXXX-XX-XX"
                                maxlength="150" required="" id="id_birth_date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Пароль</label>
                        <div>
                            <input type="password" class="form-control" name="password1" required="" id="id_password1">
                            <ul>
                                <li>Your password can't be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can't be a commonly used password.</li>
                                <li>Your password can't be entirely numeric.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Подтвержение пароля</label>
                        <div>
                            <input type="password" class="form-control" name="password2" required="" id="id_password2">
                        </div>
                    </div>
                    <button type="submit" class="btn border border-dark">Регистрация</button>
                </form>
            </div>

        </div>

    </div>



</div>

{% endblock content %}