{% extends 'relfinder/profile_navigation.html' %}

{% block headtitle %}
Диалог
{% endblock headtitle %}

{% block content1 %}


<div class="container bg-light shadow-sm rounded p-2">

    <div class="container   p-0 mb-2">
        <h6 class="text-center">Диалог с пользователем</h6> 
    </div>

    <div class="m-0 border pt-2 pb-2" id="scroll_1" style="height: 500px; overflow-y:scroll; ">

        {% for message in messages %}

        <div class="row m-0 mb-4">
            <div class="col-2 m-0 p-0" style="max-width: 11%;">
                <div class="m-0 p-0">
                    <div class="m-0 p-0 float-right"
                        style="background-image:url('{{ message.written_by.userExtension.photo.url }}'); 
                background-repeat:no-repeat; 
                background-size:cover; background-position: center; height: 70px; width: 70px; border-radius: 50%; border-style: solid; border-color: rgb(210, 210, 210); border-width: 1px;">
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div class="p-0 m-0">
                    <a href="{% url 'user' message.written_by.id %}" style="font-weight:normal;">{{message.written_by}}</a>
                    <div style="font-size: small;">
                        {{message.datetime}}
                    </div>
                    <div class="pt-1">
                        {{message.text}}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <hr class="mt-0 mb-0">

    <div class="p-2">
        <form action="{% url 'messages' %}" method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                <label  class="pl-2" for="id_information">Введите сообщение:</label>
                <textarea name="text" class="form-control form-control-sm" cols="40"
                    rows="7"></textarea>
            </p>
            <input type="hidden" name="written_to" value="{{ userPk }}">
            <input type="hidden" name="redirect" value="/dialogue/{{ userPk }}">
            <div class="row">
                <input type="submit" class="btn mx-auto border btn-primary" name="update" value="Отправить">
            </div>
        </form>
    </div>


</div>

<script>
var element = document.getElementById("scroll_1");
element.scrollTop = element.scrollHeight;
</script>






{% endblock content1 %}