{% extends 'relfinder/base.html' %}
{% block content %}

<style>
  #mainContents {
    position :relative;
    right: 2.5%;
  }
  .rounded{
    border-radius: 7px!important;
  }
</style>

<div class="container mt-4" id="mainContents">

    <div class="row">

      <div class="col-3 m-0 p-0">
          <div class="m-2 p-2 border bg-light shadow rounded">
            <div class="btn-group-vertical  container-fluid m-0 p-0" >
              <a class="btn border" href="{% url 'profile' %}">Мой профиль</a>
              <a class="btn border" href="{% url 'usersearch' %}">Поиск пользователей</a>
              <a class="btn border" href="{% url 'messages' %}">Сообщения</a>
              <a class="btn border" href="{% url 'create' %}">Заполнить карточку</a>
              <a class="btn border" href="{% url 'similarities' %}">Совпадения карточек</a>  
              <a class="btn border" href="{% url 'mycards' %}">Мои карточки</a>    
              <a class="btn border" href="{% url 'profilesettings' %}">Настройки профиля</a>
              <a class="btn border" href="{% url 'logout' %}">Выход</a>                
            </div>
          </div>
      </div>

      <div class="col-9 m-0 p-0">
        <div class="m-2 p-0">
      
          {% block content1 %}
          {% endblock content1 %}

        </div>
      </div>
    </div>
  </div>


{% endblock content %}
