{% extends 'relfinder/profile_navigation.html' %}

{% block headtitle %}
Обновление карточки
{% endblock headtitle %}

{% block static_top %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css"
    rel="stylesheet" />
{% endblock static_top %}

{% block content1 %}
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-8">

            <div class="row shadow p-2 pl-4 pr-4 bg-light border rounded">
                <form class="form" id="dataform-form" autocomplete="off" action="{% url 'update_card' card.id %}"
                    method="POST" novalidate>
                    {% csrf_token %}
                    <label>Выберите пол и степень родства</label>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <select class="form-control form-control-sm" name="sex">
                                    <option>Мужской</option>
                                    <option>Женский</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <select class="form-control form-control-sm" name="relation_level">
                                    <option>Прапрадед/Прапрабабушка</option>
                                    <option>Прадед/Прабабушка</option>
                                    <option>Дед/Бабушка</option>
                                    <option>Отец/Мать</option>
                                    <option>Сын/Дочь</option>
                                    <option>Внук/Внучка</option>
                                    <option>Правнук/Правнучка</option>
                                </select>
                            </div>
                        </div>
                    </div>



                    <hr class="mt-2 mb-3">

                    <div class="row mt-3">
                        <div class="col-md-3 mb-3">
                            <label>Фамилия</label>
                        </div>
                        <div class="col-md-9 mb-3">
                            <input type="text" name="surname" class="form-control form-control-sm" placeholder=""
                                value="{{card.surname|default_if_none:''}}" required="">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label>Имя</label>
                        </div>
                        <div class="col-md-9 mb-3">
                            <input type="text" name="first_name" class="form-control form-control-sm" placeholder=""
                                value="{{card.first_name|default_if_none:''}}" required="">
                        </div>
                        <div class="col-md-3 mb-2">
                            <label>Отчество</label>
                        </div>
                        <div class="col-md-9 mb-2">
                            <input type="text" name="fathername" class="form-control form-control-sm" placeholder=""
                                value="{{card.fathername|default_if_none:''}}" required="">
                        </div>
                    </div>

                    <hr class="mt-2 mb-3">

                    <div class="row">
                        <div class="col-md-4 mb-2">
                            <label>Годы жизни</label>
                        </div>
                        <div class="col-md-4 mb-2">
                            <input type="text" name="birth_year" class="form-control form-control-sm datepicker"
                                placeholder="год рождения" value="{{card.birth_year|default_if_none:''}}" required>

                        </div>
                        <div class="col-md-4 mb-2">
                            <input type="text" name="death_year" class="form-control form-control-sm datepicker"
                                placeholder="год смерти" value="{{card.death_year|default_if_none:''}}" required>
                        </div>
                    </div>

                    <hr class="mt-2 mb-3">

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label>Место жительства 1</label>
                        </div>
                        <div class="col-md-8 mb-3">
                            <input type="hidden" name="place1_x" value="{{card.place1_x|default_if_none:''}}" />
                            <input type="hidden" name="place1_y" value="{{card.place1_y|default_if_none:''}}" />
                            <input type="hidden" name="place1_radius" value="{{card.place1_radius|default_if_none:''}}" />
                            <button class="btn btn-primary btn-sm btn-block"
                                onclick="setCurPlace(1);makeCircleVisible()" data-toggle="modal" data-target="#myModal"
                                type="button">Указать на карте</button>
                        </div>

                        <div class="col-md-4 mb-2">
                            <label>Годы жизни</label>
                        </div>
                        <div class="col-md-4 mb-2">
                            <input type="text" name="place1_start_year" class="form-control form-control-sm"
                                placeholder="С" value="{{card.place1_start_year|default_if_none:''}}" required>
                        </div>
                        <div class="col-md-4 mb-2">
                            <input type="text" name="place1_end_year" class="form-control form-control-sm"
                                placeholder="по" value="{{card.place1_end_year|default_if_none:''}}" required>
                        </div>
                    </div>

                    <hr class="mt-2 mb-3">

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label>Место жительства 2</label>
                        </div>
                        <div class="col-md-8 mb-3">
                            <input type="hidden" name="place2_x" value="{{card.place2_x|default_if_none:''}}" />
                            <input type="hidden" name="place2_y" value="{{card.place2_y|default_if_none:''}}" />
                            <input type="hidden" name="place2_radius" value="{{card.place2_radius|default_if_none:''}}" />
                            <button class="btn btn-primary btn-sm btn-block"
                                onclick="setCurPlace(2);makeCircleVisible()" data-toggle="modal" data-target="#myModal"
                                type="button">Указать на карте</button>
                        </div>

                        <div class="col-md-4 mb-2">
                            <label>Годы жизни</label>
                        </div>
                        <div class="col-md-4 mb-2">
                            <input type="text" name="place2_start_year" class="form-control form-control-sm"
                                placeholder="С" value="{{card.place2_start_year|default_if_none:''}}" required>
                        </div>
                        <div class="col-md-4 mb-2">
                            <input type="text" name="place2_end_year" class="form-control form-control-sm"
                                placeholder="по" value="{{card.place2_end_year|default_if_none:''}}" required>
                        </div>
                    </div>

                    <hr class="mt-2 mb-3">

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label>Место жительства 3</label>
                        </div>
                        <div class="col-md-8 mb-3">
                            <input type="hidden" name="place3_x" value="{{card.place3_x|default_if_none:''}}" />
                            <input type="hidden" name="place3_y" value="{{card.place3_y|default_if_none:''}}" />
                            <input type="hidden" name="place3_radius" value="{{card.place3_radius|default_if_none:''}}" />
                            <button class="btn btn-primary btn-sm btn-block"
                                onclick="setCurPlace(3);makeCircleVisible()" data-toggle="modal" data-target="#myModal"
                                type="button">Указать на карте</button>
                        </div>

                        <div class="col-md-4 mb-2">
                            <label>Годы жизни</label>
                        </div>
                        <div class="col-md-4 mb-2">
                            <input type="text" name="place3_start_year" class="form-control form-control-sm"
                                placeholder="С" value="{{card.place3_start_year|default_if_none:''}}" required>
                        </div>
                        <div class="col-md-4 mb-2">
                            <input type="text" name="place3_end_year" class="form-control form-control-sm"
                                placeholder="по" value="{{card.place3_end_year|default_if_none:''}}" required>
                        </div>
                    </div>

                    <hr class="mt-2 mb-3">
                    <label>Дополнительная информация</label>
                    <textarea name="information" class="form-control" rows="7">{{card.information}}</textarea>
                    <hr class="mt-2 mb-3">

                    <div class="row mt-5 mb-2">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-sm btn-block" type="submit">Обновить</button>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-3"></div>
    </div>
</div>


<div class="modal" id="myModal">
    <div class="container shadow border bg-light pb-4 pl-4 pr-4 mt-4 rounded-lg" id="popup" style="max-width: 1200px;">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <div class="mt-4 border border-dark" id="map" style="width: 1150px; height: 700px"></div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <button type="button" onclick="saveData()" class="btn btn-primary col-md-12 btn-sm mt-3"
                    data-dismiss="modal">ок</button>
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
</div>

<div class="mymarg"></div>


{% endblock content1 %}


{% block static_bottom %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=447001f6-b747-4ef3-8e5d-42e3e7b9b016&lang=ru_RU"
    type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<script>
    $(".datepicker").datepicker({
        format: "yyyy",
        viewMode: "years",
        minViewMode: "years"
    });

    // var check = document.getElementsByTagName("input")
    // var len = check.length;
    // for (var i = 0; i < len; i++) {
    //     if(check[i].value === 'None')
    //     {
    //         check[i].value = '';
    //     }
 
    // }


</script>
{% load static %}
<script src="{% static 'js/fillform.js' %}" type="text/javascript"></script>
{% endblock static_bottom %}