{% extends 'relfinder/profile_navigation.html' %}

{% block headtitle %}
Совпадения карточек
{% endblock headtitle %}

{% block content1 %}

{% if user_relations %}
    {% for relation in user_relations %}
    <div class="container  rounded shadow-sm bg-light p-3 mb-4">
        <h6>
            Предположительно, пользователь <a href="{% url 'user' relation.referencing.user.id %}">
                {{relation.referencing.user}}</a> для вас {{relation.connection_type}}.
        </h6>
        <div>
            <div class="pl-3">
                <div class="pl-2 pb-1">
                    Совпадение по карточкам:
                </div>
                <div class="pl-4">
                    <div>
                        <a href="{% url 'viewcard' relation.referenced_by.id %}">{{relation.referenced_by}}</a>
                    </div>
                    <div>
                        <a href="{% url 'viewcard' relation.referencing.id %}">{{relation.referencing}}</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="container  rounded shadow bg-light p-3 mb-4">
                <h5 class="text-center">Совпадений не обнаружено</h5> 
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endif %}

{% endblock content1 %}


